{% set inColumn = false -%}
{%- for block in entry.body -%}
	{%- if block.type == 'column' -%}
		{%- if inColumn -%}
			</div>
		{%- else -%}
			{%- set inColumn = true -%}
			<div class="grid">
		{%- endif -%}
		<div class="column" sm="\{{ block.mobile }}" md="\{{ block.tablet }}" lg="\{{ block.desktop }}">
	{%- else -%}
		{%- include block.type -%}
	{%- endif -%}
{%- endfor -%}
{%- if inColumn %}</div></div>{% endif -%}
