{% extends "_layout" %}

{% block content %}
<div class="content">
  <article class="single-post">
    <h1 class="title">{{ entry.title }}</h1>
    <p class="meta"><span>by {{ p.author.fullName }} on {{ p.postDate|date("M d, Y") }}</span></p>
    {% include '_body' %}
    {% if entry.tags -%}
      <div class="tags">Tagged
        {% -for t in entry.tags %}<a href="{{ url('news/tagged/'~t.slug) }}">{{ t.title }}</a> {% endfor -%}
      </div>
    {%- endif %}
  </article>
</div>
{% endblock content %}
