{% extends "_layout" %}

{% paginate craft.entries.section('news').limit(10) as pageInfo, pageEntries %}

{% block content %}
<div class="content">
  <h1>News</h1>
  <div class="news posts">
    {%- for p in pageEntries %}
      <article>
        <div class="main">
          <h2 class="title"><a href="{{ p.url }}">{{ p.title }}</a></h2>
          <p class="meta"><span>by {{ p.author.fullName }} on {{ p.postDate|date("M d, Y") }}</span></p>
          {{ p.summary }}
          {% if p.tags -%}
            <div class="tags">Tagged
              {%- for t in p.tags %}<a href="{{ url('news/tagged/'~t.slug) }}">{{ t.title }}</a> {% endfor -%}
            </div>
          {%- endif %}
        </div>
      </article>
    {% else -%}
      <article>
        <div class="main">
          <h2 class="title">No News to Report</h2>
        </div>
      </article>
    {% endfor -%}
  </div>
  <div class="pages">
    {%- if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}"><i class="fa fa-arrow-left"></i> Prev</a>{% endif -%}
    {%- if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next <i class="fa fa-arrow-right"></i></a>{% endif -%}
  </div>
</div>
{% endblock content %}
