<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% hook 'seomaticRender' %}
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		{% if not craft.config.devMode %}
			<style>{{ source('critical.css') }}</style>
			<link rel="preload" href="{{ url('assets/site.css') }}" as="style" onload="this.rel='stylesheet'">
			<noscript><link rel="stylesheet" href="{{ url('assets/site.css') }}"></noscript>
			<script>
				{{ source('loadCSS.js') }}
				{{ source('cssrelpreload.js') }}
			</script>
		{% else %}
			<link rel="stylesheet" href="{{ url('assets/site.css') }}">
		{% endif %}
		<script src="{{ url('assets/site.js') }}" defer></script>
	</head>
	<body>
		<div id="site">
			<header>
				<div class="logo"><img src="{{ url('assets/images/bpsa-logo.svg') }}" alt="BPSA Logo"></div>
				<div class="title">
					<div class="org">Baden-Powell<br> Service Association</div>
					<div class="group">{{ siteName }}</div>
				</div>
				<div class="toggle"><span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bars fa-stack-1x"></i></span></div>
				<nav>
					{%- for n in craft.navee.getNav('mainMenu') -%}
						<a{% if n.class %} class="{{ n.class }}"{% endif %} href="{{ n.link }}">{{ n.title }}</a>
					{%- endfor -%}
				</nav>
				<div class="social">
					{% if contact.facebook %}<a href="{{ contact.facebook }}" target="_blank" title="Facebook" rel="nofollow"><i class="fa fa-facebook"></i></a>{% endif %}
					{% if contact.twitter %}<a href="{{ contact.twitter }}" target="_blank" title="Twitter" rel="nofollow"><i class="fa fa-twitter"></i></a>{% endif %}
				</div>
				<div class="copyright">&copy; 2018{{ now.year > 2018 ? '&ndash;'~now.year }} by 25th Dunelands</div>
			</header>
			<main>{% block content %}{% endblock %}</main>
		</div>
	</body>
</html>
