{% extends "_layout" %}

{% set banner = entry.banner.first %}
{% set transformedImages = craft.imager.transformImage(banner, [
    { width: 1400 },
    { width: 1200 },
    { width: 1000 },
    { width: 800 },
    { width: 600, jpegQuality: 65 },
    { width: 400, jpegQuality: 65 }
  ], { mode: 'fit' }
) %}

{% block content %}
<div class="banner"><img src="{{ craft.imager.base64Pixel(16, 9) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ banner.title }}"></div>
<div class="content"><h1>{{ entry.title }}</h1> {% include '_body' %}</div>
{% endblock content %}
