// Change some base options
$bpsa-forest: #173D1E;
$bpsa-green: #658360;
$group-color: #E9C130;
$root-color: #fff;
$anchor-color: $bpsa-forest;
$anchor-text-decoration: underline;
$root-font-family: 'Montserrat', helvetica, arial, sans-serif;
$root-background-color: $bpsa-green;

// Then add our framework.
@import "lucky-css/lucky-mix";

// Libraries
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts";
@import "font-awesome/scss/font-awesome";

// Custom CSS
html { height: 100%; }
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  &.left {
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
  }
  &.right {
    float: right;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}

#site {
  height: 100%;
  flex: 1;

  >header {
    display: flex;
    position: relative;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $bpsa-forest;
    color: $white;

    .logo {
      display: none;
    }
    .title {
      .org {
        margin-bottom: 0.25rem;
        font-weight: 700;
        line-height: 1.2;
      }
      .group {
        color: $group-color;
      }
    }
    .social { display: none; }
    .copyright {
      display: none;
    }
    .toggle {
      span { cursor: pointer; }
      .fa-bars { color: $bpsa-forest; }
    }
    nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: $bpsa-forest;
      border-top: 1px solid $white;

      &.visible {
        display: block;
      }

      a {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: $white;
        text-decoration: none;

        &:hover {
          color: $bpsa-forest;
          background: $white;
        }

        &.strong {
          font-weight: 700;
        }
      }
    }
  }

  >main {
    padding-bottom: 2rem;

    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
      line-height: 1.2;
    }
    h3 {
      text-transform: uppercase;
    }

    .content {
      padding: 1rem;
    }
  }
}

.news.posts {
  article {
    max-width: 62.5rem;
    margin-bottom: 3rem;

    .title {
      margin: 0;
    }
    .meta {
      margin: 0.5rem 0;

      span {
        padding: 0.25rem 0.5rem;
        background: $group-color;
        color: $bpsa-green;
        font-weight: 700;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }

    .tags {
      color: $bpsa-forest;
      margin-top: 1rem;

      a {
        background: $bpsa-forest;
        color: $white;
        padding: 0.1rem 0.25rem;
        text-decoration: none;
      }
    }
  }
}

.pages {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 62.5rem;

  a {
    background: $bpsa-forest;
    border-radius: 6px;
    color: $white;
    padding: 0.5rem .75rem;
    text-decoration: none;

    &:first-child {
      margin-right: 1rem;
    }
  }
}

.single-post {
  margin-bottom: 2rem;
  max-width: 62.5rem;

  .title {
    margin: 0;
  }
  .meta {
    margin: 0.5rem 0;

    span {
      padding: 0.25rem 0.5rem;
      background: $group-color;
      color: $bpsa-green;
      font-weight: 700;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }
  .tags {
    color: $bpsa-forest;
    margin-top: 2rem;
    padding-top: 1rem;

    a {
      background: $bpsa-forest;
      color: $white;
      padding: 0.1rem 0.25rem;
      text-decoration: none;
    }
  }

  img {
    border: 4px solid $group-color;
  }
}

@include media('md') {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1rem;
  }

  #site {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    >header {
      width: 25%;
      flex: 0 0 25%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .logo {
        display: block;
        margin: 1rem 0;
      }
      .title {
        text-align: center;
        font-size: 0.9rem;
      }
      .social {
        display: block;
        width: 100%;
        text-align: left;

        a {
          padding: 0.5rem;
          color: $white;
          font-size: 1.4rem;
        }
      }
      .copyright {
        display: block;
        width: 100%;
        margin-top: 2rem;
        font-size: 0.8rem;
      }
      .toggle {
        display: none;
      }
      nav {
        position: static;
        display: block;
        margin: 1rem 0;
        border: none;

        a {
          padding: 0.25rem 0.5rem;
        }
      }
    }

    >main {
      flex: 1;
    }
  }
}

@include media('lg') {
  #site {
    >header {
      width: 20%;
      flex-basis: 20%;

      .title {
        font-size: 1rem;
      }
    }
  }
}

@include media('xlg') {
  #site {
    >header {
      width: 15%;
      flex-basis: 15%;
    }
  }
}
